// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 * Copyright 2025 IMD Technologies
 */
#include <dt-bindings/gpio/gpio.h>
#include "imx8mp-pinfunc.h"

/dts-v1/;
/plugin/;

/ {

	reg_can1_stby: regulator-can1-stby {
		compatible = "regulator-fixed";
		regulator-name = "can1-stby";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_flexcan1_reg>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 3 GPIO_ACTIVE_LOW>;
	};

	sound-xcvr {
		compatible = "fsl,imx-audio-xcvr";
		model = "imx-audio-xcvr";
		cpu-dai = <&xcvr>;
	};


	tlv320_xtal: tlv320_xtal {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12288000>;
	};

	sound-tlv320{
		compatible = "simple-audio-card";
		simple-audio-card,name = "sound-card-tlv320aic3101";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master>;
		simple-audio-card,frame-master = <&dailink_master>;
		simple-audio-card,widgets =
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Headphone Jack", "HPLOUT",
			"Headphone Jack", "HPROUT",
			"MIC2R", "Microphone Jack",
			"Microphone Jack", "Mic Bias";

		simple-audio-card,cpu {
			sound-dai = <&sai3>;
		};

		dailink_master: simple-audio-card,codec {
			sound-dai = <&tlv320aic3x>;
		};
	};
};

&{/} {
	model = "IMD Technologies Pico-E Board";
	compatible = "imdt,imx8mp-imdt-pico-e", "fsl,imx8mp";
};

&aud2htx {
	status = "okay";
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	xceiver-supply = <&reg_can1_stby>;
	status = "okay";
};

&i2c6 {
	status = "okay";
	pca6416_6_20: gpio@20 {

		gpio-line-names =
			"RGMII_CONN_GPIO0",
			"RGMII_CONN_GPIO1",
			"GBE_RSTn",
			"GBE_nINT",
			"TP657",
			"RS232_DIS_3V3",
			"RS232_INVALIDn",
			"TP658",

			"PCIe_SEL_3V3",
			"D_AMP_FAULT",
			"D_AMP_Mute3V3",
			"HDMI_DISABLE",
			"HDMI_FAULT",
			"UART_SEL0",
			"UART_SEL1",
			"TP659";

		uart-sel0-hog {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			output-high;
		};

		uart-sel1-hog {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_HIGH>;
			output-low;
		};

		rs-dis-hog {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			output-low;
		};
	};

	tlv320aic3x: codec@18 {
		#sound-dai-cells = <0>;
		/* Our codec is 3101. much closer to the 3104, than using 3x*/
		compatible = "ti,tlv320aic3104";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_aud_codec_nrst>;
		clocks = <&tlv320_xtal>;
		reg = <0x18>;
		reset-gpios = <&gpio1 28 GPIO_ACTIVE_LOW>;
		ai3x-micbias-vg = <1>;
		AVDD-supply = <&reg_3v3>;
		IOVDD-supply = <&reg_1v8>;
		DRVDD-supply = <&reg_3v3>;
		DVDD-supply = <&reg_1v8>;
	};
};


&sai2 {
	#sound-dai-cells = <0>;
	status = "okay";
};


&sai3 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai3>;
	/*fsl,sai-mclk-direction-output;*/
	/*fsl,sai-synchronous;*/
	status = "okay";
};

&xcvr {
	#sound-dai-cells = <0>;
	status = "okay";
};

&iomuxc {

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI5_RXD2__CAN1_RX          0x154
			MX8MP_IOMUXC_SAI5_RXD1__CAN1_TX          0x154
		>;
	};


	pinctrl_flexcan1_reg: flexcan1reggrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_RXD1__GPIO4_IO03	0x154	/* CAN1_STBY */
		>;
	};



	pinctrl_sai3: sai3_grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI3_TXFS__AUDIOMIX_SAI3_TX_SYNC		0xd6
			MX8MP_IOMUXC_SAI3_TXC__AUDIOMIX_SAI3_TX_BCLK		0xd6
			MX8MP_IOMUXC_SAI3_RXD__AUDIOMIX_SAI3_RX_DATA00		0xd6
			MX8MP_IOMUXC_SAI3_TXD__AUDIOMIX_SAI3_TX_DATA00		0xd6
			MX8MP_IOMUXC_SAI3_MCLK__AUDIOMIX_SAI3_MCLK		0xd6
		>;
	};

	pinctrl_aud_codec_nrst: aud_codec_nrst_grp {
		fsl,pins = <
			MX8MP_IOMUXC_ENET_RD2__GPIO1_IO28	0x6
		>;
	};

};

&gpio4 {
       gpio-line-names =
       "","","","","","","","","","",
       "","","","","","","","","","",
       "ext_modem_sim_select","","","","","","","","","",
       "","";
};
